[Unit]
Description=Cantal Monitoring Service

[Service]
Type=simple
Environment="CANTAL_LOG=warn"
ExecStart=/usr/bin/cantal-agent --host 127.0.0.1 --port 22682
Restart=always

[Install]
WantedBy=multi-user.target
